dt {
            font-size: 24px;
        }

        .bg {
            background-color: #B11E7C;
            min-width: 3px;
        }

        img {
            max-width: 40vw;
        }

        #day {
            white-space: nowrap;
        }
