*.log
*.env
*.bak
*.db
gipt_debug/
.ytprofile/
debug_pages/
data/
.git/
package-lock.json
ytcommunity_state.json
node_modules/
ytcommunity_debug/
tmp/
vapid.json
webui/fontawesome-free-7.2.0-web/
core
mai_notification/
add-platform-to-all.js
config.json
*.db-shm
*.db-wal
data.db.bak.1763066928
*.md
twitcasting-state.json
twitcasting-token.json
twitch_state.json
webui/styles/
history.json
firebase-messaging-sw.js
logs/
mai-push-9c47c-firebase-adminsdk-fbsvc-5d72ba0aba.json
gipt_state.json
bilibili-dynamic-state.json
fanbox-state.json
seen.json
sent_records.json
*.old
*.apk
server/
mai_animation_data.json